$white: white;
$border: 1px solid rgb(177, 174, 174);
$input: whitesmoke;
$button: rgb(103, 103, 220);
$textWhite: white;
$textBlack: black;
$placeholderText: rgb(148, 145, 145);
$desktopContainerWidth: 500px;
$mobileContainerWidth: 90vw;
$desktopSinglePostContainer: 100px;
$mobileSinglePostContainer: 100px;
$text: 0.9rem;


@mixin flex-center(){
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin imageSize(){
  height: 300px;
  width: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin profilePicture(){
  width: 100px;
  border: $border; 
  border-radius: 50%;
}

@mixin inputs(){
  padding: 10px;
  margin: 10px auto;
  border: $border;
  border-radius: 3px;
  outline: none;
  width: 220px;
  font-size: 16px;
}

@mixin buttons(){
  width: 220px;
  padding: 10px;
  border: $border;
  border-radius: 3px;
  outline: none;
  margin-top: 20px;
}