@import '../global/variables.scss';



.profile-top{
  width: 100vw;
  border-bottom: 1px solid rgb(177, 174, 174);
  padding: 40px 15px;
  margin-bottom: 30px;
  @include flex-center();
  justify-content: space-between;

  .profile-picture{
    height: 100px;
    width: 100px;
    background-color: rgb(177, 174, 174);
    border-radius: 50%;
    margin-right: 20px;
    @media (max-width: 350px){
      height: 70px;
      width: 70px;
    }
  }

  .profile-right{
    width: 60%;
    text-align: right;

    .profile-username{
      font-weight: bold;
    }

    input{
      text-align: right;
      width: 100%;
      // color: rgb(15, 15, 15);
    }

    button{
      @include buttons();
      padding: 5px;
      @media (max-width: 350px){
        font-size: 0.8rem;
        width: 120px;
      }
    }
  }
}

.spinner{
  position: fixed;
  top: 50%;
  left: 50%;
  translate: (-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (min-width: 600px){
  .profile-top{
    width: 80vw;
  }
}


.profilepage{
  width: 100vw;
  max-width: 908px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  .post-image, .post-card{
    width: 33vw;
    height: 33vw;
  }
  .username, .caption{
    // width: 33vw;
    // max-width: 300px;
    display: none;
  }
  .post-image, .post-card{
    max-width: 300px;
    max-height: 300px;
    // &:not(.post-card){
    //   max-height: 300px;
    // }
  }
}