@import '../global/variables.scss';

.single-post-page{
  @include flex-center();
  min-height: 70vh;
  // flex-direction: column;

  .caption, .username{
    display: none;
  }

  .direction{
    @include flex-center();
    flex-direction: column;
    @media (min-width: 660px){
      flex-direction: row;
      align-items: flex-start;
    }
  }

  .block1{
    @media (min-width: 660px){
      max-width: 300px;
      max-height: 300px;
    }
  }

  .block2{
    height: 50vw;
    border: $border;
    padding: 10px;
    @media (min-width: 660px){
      // height: 30vh;
      max-width: 300px;
      max-height: 300px;
    }
  }

  .block2-top{
    // max-height: 20%;
    border-bottom: 1px solid gray;
  }

  .block2-mid{
    height: 200px;
    width: 100vw;
    overflow: scroll;
    // padding: 10px;
    // flex-direction: column;
    @media (min-width: 660px){
      width: 300px;
      height: 60%;
    }
  }

  .block2-bottom{
    // height: 20%;
    border-top: 1px solid gray;
  }

  .comment{
    padding: 10px 0;
  }

  // @media (min-width: 660px){
  //   .block2, .post-image{
  //     height: 35vw;
  //     width: 35vw;
  //   }
  // }
}