@import './global/variables.scss';

.homepage{
  max-width: 800px;
  display: flex;
  @include flex-center();
  flex-wrap: wrap;

  .post-card{
    @include flex-center();
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: $border;
    border-radius: 3px;
    margin: 10px 0;
  }
  
  .post-image{
    width: 100vw;
    height: 100vw;
    border: $border;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .caption, .username{
    @include flex-center();
    display: block;
    height: 15%;
    padding: 10px 15px;
    overflow: scroll;
  }

  @media (min-width: 660px){
    .post-card{
      width: 200px;
      height: 250px;
      margin: 10px;
    }
    .post-image{
      width: 200px;
      height: 200px;
      margin: 10px auto;
    }
    .caption{
      padding: 0 15px;
    }
  }

  @media (min-width: 1250px){
    .post-card{
      width: 300px;
      height: 350px;
      margin: 10px;
    }
    .post-image{
      width: 300px;
      height: 300px;
      margin: 10px auto;
    }
  }
}
@media(min-width: 1250px){
  .homepage{
    max-width: 1000px;
  }
}