@import './global/variables.scss';

a {
  width: fit-content;
}

.homepage{
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  gap: 5px;
  

  .post-card{
    // border: $border;
    border-radius: 3px;
    width: fit-content;
  }

  .post-image{
    width: 100vw;
    height: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .username, .caption{
    padding: 10px;
    border: $border;
  }
  .caption{
    height: 100px;
    overflow: scroll;
  }
}

@media (min-width: 660px){
  .homepage{
    width: 90vw;
    max-width: 908px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    .post-image{
      width: 30vw;
      height: 30vw;
    }
    .username, .caption{
      width: 30vw;
      max-width: 300px;
    }
    .post-image, .post-card{
      max-width: 300px;
      &:not(.post-card){
        max-height: 300px;
      }
    }
  }
}