@import './global/variables.scss';
@import './home.scss';
@import './global/page-not-found.scss';
@import './createPost.scss';
@import './global/register.scss';
@import './components/navbar';
@import './components/profile-page.scss';
@import './components/single-page.scss';
@import './components/footer.scss';

* {
  box-sizing: border-box;
}

a, a:hover{
  color: black;
  text-decoration: none;
}

body{
  margin: 0;
  min-height: 100vh;
  @include flex-center();
  align-items: flex-start;
}

h4{
  margin: 0;
  font-size: $text;
}

.main-container{
  width: 90vw;
  min-height: 100vh;
  @include flex-center();
  flex-direction: column;
}

.navbar-toggler:focus{
  box-shadow: none;
}

.nav-link{
  width: 100%;
  text-align: right;
  padding-right: 5px;
}